*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: rgb(54, 182, 139);
     color: blanchedalmond;
     text-shadow: .1vw 0 2vw black;
     padding-bottom: 10vh;
}
.name{
     text-align: center;
     margin-top: 5vh;
     text-shadow: .01 0 0 rgb(37, 37, 37);
}
.linkBox{
     border-radius: 99px;
     text-align: center;
     box-shadow: 0 0 3vw 1vw rgb(48, 48, 48);
     font-size: 1.75vw;
     width: 40vw;
     height: 10vh;
}
.linkBox > a >h3{
     margin-top: 2vh;
     text-shadow: .1vw 0vw .1vw  black;
}
.artstationContainer{
     position: absolute;
     left: 5vw; top: 20vh;
     background-image: url("https://pbs.twimg.com/profile_banners/1655398482/1608305939/600x200");
     background-size: 600px 300px;
     background-position: 0vw -1vw;
}
.dribbleContainer{
     position: absolute;
     left: 50vw; top: 20vh;
     background-image: url("https://pbs.twimg.com/profile_banners/14351575/1615999852/1500x500");
     background-size: cover;
}
.behanceContainer{
     position: absolute;
     left: 5vw; top: 60vh;
     background-image: url('https://pbs.twimg.com/profile_banners/9313022/1531236374/1500x500');
     background-size: cover;
     opacity: 75%;
}
.twitterContainer{
     position: absolute;
     left: 50vw; top: 60vh;
     background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_en_850x623.png');
     background-size: cover;
}
.facebookContainer{
     position: absolute;
     left: 5vw; top: 100vh;
     background-image: url('https://image.freepik.com/free-vector/facebook-background-with-likes-hearts_23-2147855032.jpg');
     opacity: 65%;
}
.instagramContainer{
     position: absolute;
     left: 50vw;
     top: 100vh;
     background-image: url('https://pbs.twimg.com/profile_banners/180505807/1609523200/1500x500');
     background-size: cover;
}
.CGTraderContainer{
     position: absolute;
     left: 5vw;
     top: 40vh;
     background-image: url('https://scontent.fvga3-1.fna.fbcdn.net/v/t1.6435-9/69541527_2368394133236265_3657268878515372032_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=e3f864&_nc_ohc=jUg9UoGpGAsAX-4tqbF&_nc_ht=scontent.fvga3-1.fna&oh=09103a02362d1e294a981a44c88357c0&oe=60E09E97');
}
.githubContainer{
     position: absolute;
     left: 5vw;top: 80vh;
     background-image: url('https://wallpaperaccess.com/full/3414987.jpg');
     background-size: 500px;
     background-position: center;
}
.sketchfabContainer{
     position: absolute;
     left: 50vw;
     top: 40vh;
     background-image: url('https://pbs.twimg.com/profile_banners/421923426/1622538685/1500x500');
     background-size: cover;
}
.devtoContainer{
     position: absolute;
     left: 50vw;
     top: 80vh;
     background-image: url('https://pbs.twimg.com/profile_banners/2735246778/1557714134/1500x500');
     background-position: -30px 0;
}
a{
     color: inherit;
     text-decoration: none;
}
@media screen and (max-width: 480px) {
     body {
       background-color: turquoise;
     }
     .linkBox{
          position: unset;
          margin: 5vw 0 5vw 5%;
          font-size: 1rem;
          width: 80vw;
          opacity: 100%;
     }
     .links{
          display: flex;
          flex-direction: column;
     }
   }